<!-- Navbar code -->
<nav class="navbar fixed-top  navbar-dark bg-info">
    <a class="navbar-brand" routerLink="/"><strong>Buchung</strong></a>
    <div class="from-inline">
      <button class="btn btn-dark mr-sm-2" routerLink="/login">Login</button>&nbsp;
      <button class="btn btn-warning my-2 my-sm-0" routerLink="/register">Signup</button>
   </div>
   <div class="from-inline">
    <div class="text-white">Hello,Admin</div>
    <button class="btn btn-warning my-2 my-sm-0">Logout</button>
   </div>
</nav>
