<div class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow-lg p-5 mt-5 mb-5">
              <h1 class="text-center"> welcome back!</h1><hr>
              <div class="alert alert-success" role="alert">
                Login Sucessfull !<a href=""> password forget?</a>
              </div>
                <form [formGroup]="loginfrom" class="text-left">
                  <div class="from-group">
                       <label>Email</label>
                        <input type="email" class="form-control" placeholder="Email Id here" formControlName="email">
                         <label>password</label>
                          <input type="password" class="form-control" placeholder="********" formControlName="passwort">
                     </div>
                     <button class="btn btn-outline primary btn-block" [disabled]="loginfrom.invalid" (click)="login()"> login</button>
                </form>
            </div>
       </div>
    </div>
</div>
