<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4> Adress</h4>
                <p> germany,stuttgart bad-canstatt 756984</p>
            </div>
            <div class="col-md-4">
                <h4> Google maps</h4>
                <p> germany</p>
            </div>
            <div class="col-md-4">
                <h4> Social Link </h4>
                <button class="btn btn-outline-warning"><i class="fa fa-facebook-official"
                    style="font-size:24px"></i></button>&nbsp;
                <button class="btn btn-outline-warning"><i class="fa fa-instagram"
                    style="font-size:24px"></i></button>&nbsp;
                 <button class="btn btn-outline-warning"><i class="fa fa-youtube"
                    style="font-size:24px"></i></button>&nbsp;
                <button class="btn btn-outline-warning"><i class="fa fa-twitter"
                    style="font-size:24px"></i></button>
            </div>
        </div>
    </div>
</div>